.body{
    background-color: #f1f1f1;
}
.wrap{
    height: 800px;
    margin: 10px auto;
    background-color: #2a4672;
    padding: 15px;
    box-sizing: border-box;
}
.btn1{
    display: inline-block;
    padding: 18px 26px;
    text-decoration: none;
    color: darkorange;
    background-color: #2a4672;
    border-radius: 8px;
    transition: all 0.5s ease-in;
    border: 2px solid;
    text-align: center;
    width: 150px;
}
.btn2{
    display: inline-block;
    padding: 18px 26px;
    text-decoration: none;
    color: white;
    background-color: mediumseagreen;
    border-radius: 24px;
    transition: all 0.5s ease-in;
    border: 2px solid limegreen;
    text-align: center;
    width: 150px;
}
.btn3{
    display: inline-block;
    padding: 18px 26px;
    text-decoration: none;
    color: white;
    background-color: dodgerblue;
    border-radius: 10px;
    transition: all 0.5s ease-in;
    text-align: center;
    width: 150px;
}
.btn4{
    display: inline-block;
    padding: 18px 26px;
    text-decoration: none;
    color: white;
    background-color: darkorange;
    border-radius: 10px;
    transition: all 0.5s ease-in;
    text-align: center;
    width: 150px;
}
.btn5{
    display: inline-block;
    padding: 18px 26px;
    text-decoration: none;
    color: blueviolet;
    background-color:#2a4672 ;
    transition: all 0.5s ease-in;
    text-align: center;
    width: 150px;
    border: 2px solid blueviolet;
}
.btn6{
    display: inline-block;
    padding: 18px 26px;
    text-decoration: none;
    color: greenyellow;
    background-color:#2a4672 ;
    transition: all 0.5s ease-in;
    text-align: center;
    width: 150px;
    border: 2px solid greenyellow;
    border-radius: 20px;
}
.btn1:active{
    border-bottom-width: 2px;
    margin-top: 3px;
}
.btn2:active{
    border-bottom-width: 2px;
    margin-top: 3px;
}
.btn3:active{
    border-bottom-width: 2px;
    margin-top: 3px;
}
.btn4:active{
    border-bottom-width: 2px;
    margin-top: 3px;
}
.btn5:active {
    border-bottom-width: 2px;
    margin-top: 3px;
}
.btn6:active{
    border-bottom-width: 2px;
    margin-top: 3px;
}
